# Build Outputs
dist/
build/
out/
installer/Output/
installer/Output_Final/
frontend/dist/
backend/dist/
electron/dist/
installer/prerequisites/

# Large Binaries
*.exe
*.msi
*.asar
*.zip
*.7z

# Env & OS
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/

# Database
*.db
*.db-shm
*.db-wal
postgresql/
data/
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*